
/*Color Pallete with Descriptions
    CB997E - Dark Tanish
    DDBEA9 - Salmonish
    FFE8D6 - Tan
    B7B7A4 - Light Gray 
    A5A58D - Darker Gray
    6B705C - Darkest Gray
    lemonchiffon
    black
*/


body {
   background-color: #FFE8D6;

}
  
p {
    color: black;
}

.h1font {
    font: bold;
}

.h1font {
    font-style: italic;
}

nav a {
    font-weight: bold;
    color: lemonchiffon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }


nav ul {
    background-color: #DDBEA9;
    padding: 0;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}

nav li::after:hover {
    background-color: #CB997E;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }