
/*Color Pallete with Descriptions
    #CB997E - Dark Tanish
    #DDBEA9 - Salmonish
    #FFE8D6 - Tan
    #B7B7A4 - Light Gray 
    #A5A58D - Darker Gray
    #6B705C - Darkest Gray
    lemonchiffon
    black
    Imported Fonts
    font-family: 'Dongle', sans-serif;
    font-family: 'Outfit', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Outfit:wght@100;400&display=swap");

body {
    background-color: #FFE8D6;
    background: url(../Images/backgorund_image.jfif);
    background-size: cover;
}

p {
    color: black;
}

.h1font {
    font: bold;
}

.h1font {
    font-style: italic;
}

footer {
    background-color: #6B705C;
}

.headerText {
    color: lemonchiffon
}


/*Nav Bar*/
nav a {
    font-weight: bold;
    color: lemonchiffon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }


nav ul {
    background-color: #6B705C;
    padding: 0;
    border: 2px solid lemonchiffon;
}

nav li:hover {
    background-color: #CB997E;
}

nav ul li {
    display: inline-block;
    padding: 5px 2.5px;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }




.articleBackground {
    background-color: #6B705C;
}

h2 {
    color: #B7B7A4;
}

h1 {
    color: black;
    
}

p {
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-family: 'Dongle', sans-serif;
}

.fas fa-address-card {
    color: darkblue;
}

.linkColor {
    color: lemonchiffon;
    background-color: #6B705C
}

/*Gallery Items*/

#galleryBackground {
    background-color: #6B705C;
}

.galleryArticle {
    text-align: center;
}

div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid black;
    }

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: lemonchiffon;
    }

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

.galleryItem {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: #fff;
}

    .galleryItem img {
        margin-top: 5px;
    }

    /* On mouse-over, add a deeper shadow */
    .galleryItem:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    }

/* Add some padding inside the card container */
/*.galleryContainer {
    padding: 2px 16px; }*/






head {
    background-color: #FFE8D6;
}



.sectionBorder {
    border: 2px solid lemonchiffon;
    background-color: #DDBEA9;
}

/*Table*/

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse; /*Avoids duplicate adjacent borders inside the table.*/
}

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: #DDBEA9;
}

tfoot {
    background-color: #DDBEA9;
}

    tfoot tr, tfoot td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: #DDBEA9;
}

tbody tr:nth-child(odd) {
    background-color: #6B705C;
}

/*Teams Page*/

.bigDiv{
    display: inline-block;
    width: 70em;
    height: 30em;
}

    .bigDiv #danImage {
        float: left;
        width: 18%;
        margin: auto;
        
    }
.bigDiv .danContent {
    float: left;
    width: 75%;
    
    background-color: aliceblue;
    
    border: 2px solid black;
   
}


/*#clear {
    clear: both;
}*/

.bigDiv2 {
    display: inline-block;
    width: 70em;
    height: 30em;
}

    .bigDiv2 #malloryImage {
        display: inline-block;
        float: left;
        width: 18%;
        margin: auto;
        
    }

.bigDiv2 #malloryContent {
    display: inline-block;
    float: left;
    width: 75%;
   
    background-color: aliceblue;
    border: 2px solid black;
}

/*#clear {
    clear: both;
}*/

.bigDiv3 {
    display: inline-block;
    width: 70em;
    height: 30em;
}

    .bigDiv3 #benImage {
        display: inline-block;
        float: left;
        width: 18%;
        margin: auto;
        
    }


.bigDiv3 #benContent {
    display: inline-block;
    float: left;
    width: 75%;
    margin: auto;
    background-color: aliceblue;

    border: 2px solid black;
}

#clear {
    clear: both;
}


/*Top home page*/

#aboutUs {
    margin: auto;
}

.aboutUsIntro {
    width: 100%;
    margin: auto;
}

div #aboutUsIntro p {
    /*word-wrap: break-word;*/
    margin: auto;
}

.homeImage1 {
    float: left;
    width: 25%;
}

#topRightText {
    float: left;
    width: 50%;
    margin-left: 250px;

}

.header3 {
}

.textRight {
    float: right;
    width: 50%;
    margin: auto;
}

.aboutUsMain {
    width: 98%;
}

.homeImage2 {
    float: left;
    width: 50%;
    padding-top: 35px;
}

    .homeImage2 img {
        width: 100%;
    }



/*Bottom home page*/

.aboutUsMain2 {
    width: 98%;
}

.homeImage3 {
    float: right;
    width: 50%;
}

    .homeImage3 img {
        width: 100%;
    }

#bottomLeftText {
    float: left;
    width: 48%;
}

.homeh1 {
    text-align: center;
    font-size: 42px;
}

.socialMedia1 {
    float: right;
    margin: auto;
}
.socialMedia2 {
    float: right;
    margin: auto;
}
.socialMedia3 {
    float: right;
    margin: auto;
}

/*Contact Us Info*/

.contactFav {
    /*margin-left: 700PX;*/
    text-align: center;
}

.contactContent {
    text-align: center;
}

.contactContent p {
    color: lemonchiffon
}